%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading Find a twitter profile
    %p.lead.text-muted
      Search an user by username and
      %i we will tell you what music we recommend
    %p
      = link_to "Search user", new_twitter_profile_path, class: "btn btn-primary my-2"
